<nav id="sidebar" class="bg-dark text-light">
    <div class="sidebar-header">
        <h3>Gestión de Pedidos</h3>
    </div>
    <ul class="list-unstyled components">
        <li class="active">
        <a routerLink="/clientes" routerLinkActive="active">
            <i class="bi bi-person"></i> Clientes
        </a>
        </li>
        <!-- <li>
        <a routerLink="/pedidos" routerLinkActive="active">
            <i class="bi bi-box"></i> Pedidos
        </a>
        </li> -->
        <li>
        <a routerLink="/productos" routerLinkActive="active">
            <i class="bi bi-box-seam"></i> Productos
        </a>
        </li>
    </ul>
</nav>
